<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FAQ Chatbot</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="chat-container">

    <h1>FAQ Chatbot</h1>

    <div id="chat-box"></div>

    <div class="input-area">
        <input type="text" id="user-input" placeholder="Ask something...">

        <button onclick="sendMessage()">Send</button>
    </div>

</div>

<script>

async function sendMessage() {

    let input = document.getElementById("user-input");

    let message = input.value;

    let chatBox = document.getElementById("chat-box");

    chatBox.innerHTML += `
        <div class="user-msg">${message}</div>
    `;

    let response = await fetch("/chat", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            message: message
        })
    });

    let data = await response.json();

    chatBox.innerHTML += `
        <div class="bot-msg">${data.reply}</div>
    `;

    input.value = "";

}

</script>

</body>
</html>